<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio | Contact</title>
        <link rel="stylesheet" href="/bootstrap-icons.min.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/contact/contact.css" />
        <link rel="stylesheet" href="../css/contact/navbar.css" />
        <%- include('./partials/scripts.ejs') %>
    </head>
    <body class="position-relative" data-bs-spy="scroll">
        <%- include('./partials/navbar.ejs') %>
        <div data-spy="scroll" data-target="#navbar" data-offset="0">
            <%- include('./partials/contact.ejs') %>
        </div>
    </body>
</html>
