<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio | Services</title>
        <%- include('./partials/head.ejs') %> <%-
        include('./partials/scripts.ejs') %>
    </head>
    <body class="position-relative" data-bs-spy="scroll">
        <%- include('./partials/navbar.ejs') %>
        <div data-spy="scroll" data-target="#navbar" data-offset="0">
            <%- include('./partials/services.ejs') %>
        </div>
    </body>
</html>
