.christmas-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("http://localhost:8080/images/christmas_cake.jpeg");
    background-position: 50% 50%;
}

.wedding-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("http://localhost:8080/images/wedding_cake.jpg");
    background-position: 50% 50%;
}

.anniversary-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("http://localhost:8080/images/anniversary_cake.jpeg");
    background-position: 50% 90%;
}

.birthday-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("http://localhost:8080/images/birthday_cake.jpg");
    background-position: 50% 75%;
}

.img-container {
    height: 40vh;
    width: 100%;
    background-size: cover;
}
